*** importar librerias ***

In [1]:
import sqlalchemy
import pandas as pd

In [3]:
sqlalchemy.__version__

'1.3.20'

Establecer conexión con la base de datos en MariaDB. Para usar comandos mágicos y habilitar el engine de sqlalchemy

In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://ney:Pala$@localhost:3306/Tweets_NASDAQ

'Connected: ney@Tweets_NASDAQ'

In [4]:
from sqlalchemy import create_engine
engine=create_engine("mysql+pymysql://ney:Pala$@localhost:3306/Tweets_NASDAQ")

Cargar archivos csv desde ubicación local. Datos descargados de Kaggle donde archive hace referencia a ... y archive(1) a ...

In [8]:
Company = pd.read_csv('/home/ney/Documents/Big Data UN/archivos_nasdaq_kaggle/archive/Company.csv',sep=',',header=0)
Company_Tweet = pd.read_csv('/home/ney/Documents/Big Data UN/archivos_nasdaq_kaggle/archive/Company_Tweet.csv',sep=',',header=0)
Tweet = pd.read_csv('/home/ney/Documents/Big Data UN/archivos_nasdaq_kaggle/archive/Tweet.csv',sep=',',header=0)
Company_Values = pd.read_csv('/home/ney/Documents/Big Data UN/archivos_nasdaq_kaggle/archive(1)/CompanyValues.csv',sep=',',header=0)

In [9]:
# configurando campos fecha
import datetime
# pasar de timestamp (segundos desde el inicio de UNIX)
Tweet['post_date']=pd.to_datetime(Tweet['post_date'],unit='s').dt.strftime('%d-%m-%Y')
Tweet['post_date']=pd.to_datetime(Tweet['post_date'])
Company_Values['day_date']=pd.to_datetime(Company_Values['day_date'])

In [10]:
# convertir dataframe pandas en datos para poblar la base de datos
Company.to_sql('Company', engine, if_exists='append', index=False, chunksize=1000)

In [12]:
Tweet.to_sql('Tweet', engine, if_exists='append', index=False, chunksize=1000)

In [13]:
Company_Tweet.to_sql('Company_Tweet', engine, if_exists='append', index=False, chunksize=1000)

In [23]:
Company_Values.to_sql('Company_Values', engine, if_exists='append', index=False, chunksize=1000)